<% if @mission.errors.any? %>
    <div id = "error_explanation">
        <h2>There were some errors:</h2>
        <ul>
            <% @mission.errors.full_messages.each do |message| %>
                <li><%= message %><li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for @mission do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :scientist_name %>
    <%= f.collection_select :scientist_name, Scientist.all, :name, :name %>
    <%= f.label :planet_name %>
    <%= f.collection_select :planet_name, Planet.all, :name, :name %>
    <%= f.submit %>
<% end %>